.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: auto auto;
  margin-bottom: 0;
}

.loading__text {
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

.loading__text svg {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
}

.text__loaded {
  padding: 5px;
  text-align: center;
  outline: 3px solid rgb(158, 255, 0);
}

.header__cart .loader {
  height: 40px;
  width: 40px;
}

#loader-1:before, #loader-1:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: rgb(158, 255, 0);
}

#loader-1:before{
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after{
  border: 10px solid #ccc;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
